@import '../../../assets/css/model.scss';

.cover-section {
    margin-top: -15px;
    height: 170px;
    position: relative;
}

.cover-section>.cover {
    width: 100%;
    overflow: hidden;
    height: 170px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cover-section>.cover>img {
    width: 100%;

}

.cover-section>.profile {

    position: absolute;
    display: flex;
    align-items: center;
    bottom: -60px;
    left: 20px;

    .image {
        width: 120px;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        height: 120px;
        overflow: hidden;
        margin-right: 15px;
        border: 4px white solid;
        @include normalShadow;

        img {
            width: 120px;
            height: 120px;
        }
    }

    .name {

        margin-top: 60px;

        h4 {
            font-size: 20px;
            font-weight: 800;
            margin: 0;
        }

        p {
            margin: 0;
            font-size: 12px;
            font-size: 700;
            color: gray;
        }
    }

    .message {

        margin-top: 60px;
        margin-left: 20px;
        display: flex;
        button{
           font-size: 18px;
           width: 45px;
           border-radius:200px ;
           -webkit-border-radius:200px ;
           -moz-border-radius:200px ;
           -ms-border-radius:200px ;
           -o-border-radius:200px ;
}

    }
}