@import './user-root.scss';

// Botton Functions
@mixin normalButton() {
    padding: 10px;
    color: $blackColor;
    background: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    font-weight: 500;
    background-color: $secondaryColor;
}



// Class Name
.button {
    @include normalButton();

    &:hover {
        background-color: $lightDarkColor;
    }
}

.button-color {
    @include normalButton();
    background: linear-gradient(90.5deg, #D60067 2.72%, #9100D6 99.92%);
    color: white;

    &:hover {
        background: linear-gradient(90.5deg, #b30056 2.72%, #7c00b6 99.92%);
    }
}

.button-gray {
    @include normalButton();
    background-color: #acacac;
}

.button-red {
    @include normalButton();
    background-color: rgb(230, 10, 10);
    color: white;
}

.button-green {
    @include normalButton();
    background-color: rgb(0, 173, 0);
    color: white;
}