@import './user-root.scss';


// Shadow
@mixin normalShadow {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}


@mixin normalBox($color: $primaryColor, $radius: 10px) {
    @include normalShadow();
    background-color: $color;
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin normalInput ($fontSize: 14px) {
    font-size: $fontSize;
    padding: 14px;
    color: $blackColor;
    background: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    outline: none;
    font-weight: 500;
    background-color: $secondaryColor300;
}


// Input Group
.inputDiv {
    display: flex;
    flex-direction: column;
    position: relative;


    input {
        @include normalInput;

        &:focus {
            background-color: $secondaryColor600;
        }

        &:focus~label,
        &:valid~label {
            top: 0px;
            left: 20px;
            font-size: 11px;
            padding-left: 5px;
            padding-right: 5px;
        }

    }

    label {
        font-size: 14px;
        position: absolute;
        top: 14px;
        left: 25px;
        color: $lightDarkColor;
        transition: 0.5s ease-in-out;
        font-weight: 500;

    }

}

// Button Loding
.button-loading-icon {
    font-size: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// Round Icon
.round-icon {
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 37px;
    background-color: $secondaryColor600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    color: $darkColor;
    transition: 0.8s ease-in-out;
    -webkit-transition: 0.8s ease-in-out;
    -moz-transition: 0.8s ease-in-out;
    -ms-transition: 0.8s ease-in-out;
    -o-transition: 0.8s ease-in-out;
    cursor: pointer;
    font-size: 21px;

}

// Scroll bar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

// SubTitle

.subTitle {
    font-size: 15px;
    font-weight: 700;
}

@mixin profileImg($size: 40px) {
    width: $size;
    height: $size ;
    overflow: hidden;
    border: solid 1px rgb(206, 206, 206);
    margin-right: 10px;

    img {
        width: $size ;
        height: $size ;
    }

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;

}