// Color
$backgroundColor : #E9E9E9;

$primaryColor : white ; 
$secondaryColor300 : #f5f0f4;
$secondaryColor : #dbdbdb;
$secondaryColor600 : #dddddd;
$roseColor : #D60067;
$roseLightColor200 : #ffc2df;
$vilateColor : #9100D6 ;
$warnningColor : rgb(255, 202, 29);
$warnningColor300 : rgb(255, 224, 122);

$redColor : #e20000;

$blackColor: black;
$darkColor:rgb(46, 46, 46);
$lightDarkColor: rgb(117, 117, 117);
$lightColor400: rgb(192, 192, 192);