@import '../../../assets/css/model.scss';
@import '../../../assets/css/user-root.scss';

.post-model>.boader {
    @include normalBox();
    width: 100%;
    padding: 10px;
    margin: 15px 0;

    .top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;

        .profile {
            display: flex;
            width: 100%;
            position: relative;
            align-items: center;

            div {
                h5 {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin: 0;
                    color: gray;
                    font-size: 12px;

                }

            }

            .image {
                width: 40px;
                height: 40px;
                overflow: hidden;
                border: solid 1px rgb(206, 206, 206);
                margin-right: 10px;

                img {
                    width: 40px;
                    height: 40px;
                }

                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
            }
        }

        .options {
            font-size: 20px;
            position: relative;

            .DropIcon {
                padding: 0 5px;
                cursor: pointer;

                &:hover {
                    background-color: $secondaryColor600;
                    border-radius: 100px;
                    -webkit-border-radius: 100px;
                    -moz-border-radius: 100px;
                    -ms-border-radius: 100px;
                    -o-border-radius: 100px;
                }
            }

            .DropBox {
                position: absolute;
                background-color: $primaryColor;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
                @include normalShadow;
                z-index: 5;
                padding: 5px 0;
                right: 35px;
                top: 0;

                .itemDiv {
                    display: flex;
                    align-items: center;
                    padding: 9px 15px;
                    cursor: pointer;
                    min-width: max-content;

                    &:hover {
                        background-color: $secondaryColor300;
                    }

                    p {
                        margin: 0;
                        font-size: 13px;
                        margin-left: 5px;
                    }

                }
            }
        }
    }

    .content {
        width: 100%;
        margin-bottom: 10px;

        pre {
            overflow: hidden;
            width: 100%;
            background: none;
            border: none;
            font-size: 12px;
            white-space: pre-wrap;
        }

        img {
            width: 100%;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        .reactions-count {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;


            .icon {
                display: flex;
            }

            .icon>.simpale {
                background-color: red;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
                font-size: 14px;
                color: white;
                margin: 0 5px;
            }

            .icon :last-child {
                font-size: 12px;
                font-weight: 600;

            }

        }
    }

    .like-div {
        hr {
            margin: 0;
        }

        .box {
            color: $lightDarkColor;
            display: flex;
            align-items: center;

            .like-color {
                color: #0d6efd;
            }
            div {
                width: 100%;
                text-align: center;
                cursor: pointer;


                .likeAnimation:first-child {

                    animation: likeAnimation .5s;
                    -webkit-animation: likeAnimation .5s;
                }

                @keyframes likeAnimation {
                    50% {
                        transform: rotate(-10deg);
                        -webkit-transform: rotate(-10deg);
                        -moz-transform: rotate(-10deg);
                        -ms-transform: rotate(-10deg);
                        -o-transform: rotate(-10deg);
                        font-size: 25px;
                    }
                }

                .icon {
                    font-size: 21px;
                }

                .text {
                    margin-left: 5px;
                    font-weight: 600;
                    font-size: 13px;
                    margin-top: -5px;
                }

            }
        }

    }

    .bottom {
        margin-top: 5px;

        hr {
            margin: 0;
            padding: 0;
        }

        
    }
}